<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b6c8f6f-34fe-43d5-a843-9142c15ee2ca" Alias="Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f37c2c28-c8ab-48cd-ac07-b13e38bd900f",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "93638715-f76c-4a11-86b1-6a9d66504901"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>