<?xml version="1.0" encoding="utf-8"?>
<Content Key="45fb3911-8049-4343-bb01-61655c9f0168" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-03-09T19:08:04</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fffc6339-db5a-4933-bc22-30e464267b7f">home</Template>
  </Info>
  <Properties>
    <testProperty>
      <Value><![CDATA[Save 5]]></Value>
    </testProperty>
  </Properties>
</Content>