<?xml version="1.0" encoding="utf-8"?>
<Content Key="c591393f-6838-4da6-b38d-4d81536e2672" Alias="BlockGrid Test" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/BlockGridTest</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2025-04-28T13:50:07</CreateDate>
    <NodeName Default="BlockGrid Test">
      <Name Culture="da">BlockGrid Test Danish</Name>
      <Name Culture="en-us">BlockGrid Test</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3d227f2c2aee4d1ba886654442fdc238",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/201d2df1dd6f4f35a9670795451bbc35",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "articleList": "umb://document/31523089f64848839087ef9a0b83129f",
      "contentTypeKey": "60085a63-b77b-4509-9df4-bcb75db2755f",
      "pageSize": "1",
      "showPagination": "1",
      "udi": "umb://element/201d2df1dd6f4f35a9670795451bbc35"
    },
    {
      "content": {
        "markup": "<p>Danish version 3 (main image update)</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/3d227f2c2aee4d1ba886654442fdc238"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/920e8c05456b423aa21d6569536f459a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cf1478e668044a4a824aeae9409aa44a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/73eb3df598b34e2aa690f5186c17855c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "markup": "<p>English version 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/920e8c05456b423aa21d6569536f459a"
    },
    {
      "articleList": "umb://document/31523089f64848839087ef9a0b83129f",
      "contentTypeKey": "60085a63-b77b-4509-9df4-bcb75db2755f",
      "pageSize": "4",
      "showPagination": "0",
      "udi": "umb://element/cf1478e668044a4a824aeae9409aa44a"
    },
    {
      "content": {
        "markup": "<p>Another test</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "udi": "umb://element/73eb3df598b34e2aa690f5186c17855c"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <contentRows>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f28748da3bf442bbb82a2bdabe29e445",
        "settingsUdi": "umb://element/b91996cf44b04bb2b372b0be8de30514"
      }
    ]
  },
  "contentData": [
    {
      "caption": "",
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "image": [
        {
          "key": "cf8c56fd-185b-42cf-8781-685213697782",
          "mediaKey": "3c6c415c-35a0-4629-891e-683506250c31"
        }
      ],
      "udi": "umb://element/f28748da3bf442bbb82a2bdabe29e445"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "hide": "0",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": "",
      "marginTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "paddingTop": "",
      "udi": "umb://element/b91996cf44b04bb2b372b0be8de30514"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9902c1d052e9494487869bf42a88b3a6",
        "settingsUdi": "umb://element/17bcb8864fbf4d35bcc244d6384dc417"
      }
    ]
  },
  "contentData": [
    {
      "caption": "Caption 2",
      "contentTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "image": [
        {
          "key": "8b0dbc75-0847-499e-a15f-8f2bf8336ad0",
          "mediaKey": "0521b485-98b6-409d-ad35-8745f3e4287c"
        }
      ],
      "udi": "umb://element/9902c1d052e9494487869bf42a88b3a6"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "hide": "0",
      "marginBottom": "",
      "marginLeft": "",
      "marginRight": "",
      "marginTop": "",
      "paddingBottom": "",
      "paddingLeft": "",
      "paddingRight": "",
      "paddingTop": "",
      "udi": "umb://element/17bcb8864fbf4d35bcc244d6384dc417"
    }
  ]
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "3928525e-ead4-443b-86e5-aac84d1c9ae3",
    "mediaKey": "b5279cc9-c438-4b14-a57a-72f97f5527f7"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>