<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b871f83c-2395-4894-be0f-5422c1a71e48" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b1c27e8c-1692-42ad-9701-c87f12716ee7">contentControls</Composition>
      <Composition Key="d690c8cb-2622-43b9-8cf9-fdca7811ee4d">headerControls</Composition>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e712f8f-17bc-4b88-b3f3-a8d7802af4c5</Key>
      <Name>Content Grid</Name>
      <Alias>contentGrid</Alias>
      <Definition>317e4d92-bee6-4fee-b656-905e57cc159c</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b434142d-0a12-498a-9e9d-8455bff6e1d1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>